{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h3>Add new event</h3>

            {{ form_start(calendar_event_form) }}
            <div class="form-group">
                {{ form_label(calendar_event_form.title) }}
                {{ form_errors(calendar_event_form.title) }}
                {{ form_widget(calendar_event_form.title) }}
            </div>
            <div class="form-group">
                {{ form_label(calendar_event_form.startDate) }}
                {{ form_errors(calendar_event_form.startDate) }}
                <div class='input-group date' id='datetimepicker1'>
                    {{ form_widget(calendar_event_form.startDate) }}
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(calendar_event_form.endDate) }}
                {{ form_errors(calendar_event_form.endDate) }}
                <div class='input-group date' id='datetimepicker2'>
                    {{ form_widget(calendar_event_form.endDate) }}
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(calendar_event_form.category) }}
                {{ form_errors(calendar_event_form.category) }}
                {{ form_widget(calendar_event_form.category) }}
            </div>
            <div class="form-group">
                {{ form_widget(calendar_event_form.add) }}
            </div>
            {{ form_end(calendar_event_form) }}
        </div>

        <div class="col-md-9 col-sm-9">
            {% include 'flash.messages.html.twig' %}

            {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
        </div>
    </div>

    {#Modal window - event detail #}
    {% include 'modal/modalEventDetail.html.twig' %}

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
        $(function () {
            $('#datetimepicker2').datetimepicker();
        });
    </script>

{% endblock %}



