{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12 col-sm-12">
            {% include 'flashMessages.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-md-offset-4">
            {#Category filter#}
            {{ form_start(filter_category_form) }}
            {{ form_label(filter_category_form.filter_category) }}
            {{ form_errors(filter_category_form.filter_category) }}
            {{ form_widget(filter_category_form.filter_category, { 'id': 'filter_selector'} )}}
            {{ form_end(filter_category_form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="spacer10"></div>
            {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
        </div>
    </div>

    {#Modal window - event creation #}
    {% include 'modal/modalEventAdd.html.twig' %}

    {#Modal window - event detail/edit #}
    {% include 'modal/modalEventDetail.html.twig' %}

    {#Modal window - add event category#}
    {#{% include 'modal/modalCategoryAdd.html.twig' %}#}

{% endblock %}



