{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12 col-sm-12">
            {% include 'flashMessages.html.twig' %}
        </div>
    </div>
    <div class="row">
        {{ form_start(event_filter_form) }}
        <div class="col-md-2 col-sm-12">
            {#Category filter#}
            {{ form_label(event_filter_form.filter_category) }}
            {{ form_errors(event_filter_form.filter_category) }}
            {{ form_widget(event_filter_form.filter_category, { 'id': 'category_filter_selector'} )}}
        </div>
        <div class="col-md-2 col-sm-12">
            {#Project filter#}
            {{ form_label(event_filter_form.filter_project) }}
            {{ form_errors(event_filter_form.filter_project) }}
            {{ form_widget(event_filter_form.filter_project, { 'id': 'project_filter_selector'} )}}
        </div>
        {{ form_end(event_filter_form) }}
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="spacer10"></div>
            {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
        </div>
    </div>

    {#Modal window - event creation #}
    {% include 'modal/modalEventAdd.html.twig' %}

    {#Modal window - event detail/edit #}
    {% include 'modal/modalEventDetail.html.twig' %}

    {#Modal window - add event category#}
    {#{% include 'modal/modalCategoryAdd.html.twig' %}#}

{% endblock %}



