{% extends 'base.html.twig' %}


{% block content %}

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>Projects:</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="side-menu">
                        {% if projects is not empty %}
                            {% for project in projects %}
                                <div class="side-menu-item {% if project.id == selected_project.id %} side-menu-item-selected {% endif %}" title="{{ project.title }}">
                                    <div class="row">
                                        <a href="{{ path('projects', { 'projectId' : project.id }) }}">
                                            <div class="col-md-11 col-sm-11" style="padding-right: 3px;">
                                                <div class="side-menu-item-title">
                                                    <b>{{ project.title|length > 35 ? project.title|slice(0, 35) ~ '...' : project.title  }}</b>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="col-md-1 col-sm-1" style="padding-left: 0px;">
                                            <div class="side-menu-item-delete-link">
                                                <a href="{{ path('delete_project', { 'projectId' : project.id }) }}" onClick="return confirm('Are you sure?');"><span class="glyphicon glyphicon-remove"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="side-menu-add-new">
                        <a href="#" id="openAddProjectModal" class="btn btn-sm btn-primary width100p">Add new</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9 col-sm-9">
            {% include 'flashMessages.html.twig' %}
            {% if selected_project is empty %}
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="no-data-message">
                            <i>There is no project to display! Please add some first.</i>
                        </div>
                    </div>
                </div>
            {% else %}
                {{ form_start(edit_project_form) }}
                {{ form_widget(edit_project_form.id, {'value': selected_project.id}) }}
                <div class="row">
                    <div class="col-md-10 col-sm-10 form-group">
                        <div id="text-project-title">
                            <h3>{{ selected_project.title }}</h3>
                        </div>
                        <div id="form-project-title" class="collapse">
                            {{ form_label(edit_project_form.title) }}
                            {{ form_errors(edit_project_form.title) }}
                            {{ form_widget(edit_project_form.title) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 form-group">
                        <div id="text-project-edit" style="float: right">
                            <div class="spacer20"></div>
                            <input type="button" value="Edit" class="btn btn-primary width80px" onclick="return editProject()">
                        </div>
                        <div id="form-project-save" class="collapse" style="float: right">
                            <div class="spacer25"></div>
                            {{ form_widget(edit_project_form.add, {'label': 'Save'}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 form-group">
                                <div id="text-project-acronym">
                                    <label>Arconym:</label>
                                    <p class="sub-label">(used as prefix for project events)</p>
                                    <h4>{{ selected_project.acronym }}</h4>
                                </div>
                                <div id="form-project-acronym" class="collapse">
                                    {{ form_label(edit_project_form.acronym) }}
                                    <p class="sub-label">(used as prefix for project events)</p>
                                    {{ form_errors(edit_project_form.acronym) }}
                                    {{ form_widget(edit_project_form.acronym) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 form-group">
                                <div id="text-project-limit">
                                    <label>Time assigned to project:</label>
                                    <p class="sub-label">(in hours)</p>
                                    <h4>{{ selected_project.timeLimit }}</h4>
                                </div>
                                <div id="form-project-limit" class="collapse">
                                    {{ form_label(edit_project_form.timeLimit) }}
                                    <p class="sub-label">(in hours)</p>
                                    {{ form_errors(edit_project_form.timeLimit) }}
                                    {{ form_widget(edit_project_form.timeLimit) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 form-group">
                                <div id="text-project-description">
                                    <label>Description:</label>
                                    <p>{{ selected_project.description }}</p>
                                </div>
                                <div id="form-project-description" class="collapse">
                                    {{ form_label(edit_project_form.description) }}
                                    {{ form_errors(edit_project_form.description) }}
                                    {{ form_widget(edit_project_form.description) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        {% if spend_time %}
                            <canvas id="projectCategoryChart" width="200" height="200"></canvas>
                        {% else %}
                            <div class="no-data-message">
                                <i>There are no project events to calculate statistics! Please add some first.</i>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-group">
                        <div class="project-events">
                            {% for event in selected_project.calendarEvents %}
                                <div class="project-events-item">
                                    <a href="#" onclick="openEditEventModal({{ event|json_encode }}, true)">
                                        {{ event.title }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {{ form_end(edit_project_form) }}
            {% endif %}
        </div>
    </div>

    {#Modal window - add project #}
    {% include 'modal/modalProjectAdd.html.twig' %}

    {#Modal window - event creation #}
    {% include 'modal/modalEventAdd.html.twig' %}

    {#Modal window - event detail/edit #}
    {% include 'modal/modalEventDetail.html.twig' %}

    {#Script and data setting for pie graph#}
    <script>
        $(function() {
            if(document.getElementById("projectCategoryChart")){
                var ctx = document.getElementById("projectCategoryChart");

                var data = {
                    labels: [
                        {% for category in spend_time %}
                        {% if category.id %}
                        "{{ category.title }}",
                        {% else %}
                        "Without category",
                        {% endif %}
                        {% endfor %}
                    ],
                    datasets: [
                        {
                            data: [
                                {% for category in spend_time %}
                                "{{ category.time|round }}",
                                {% endfor %}
                            ],
                            backgroundColor: [
                                {% for category in spend_time %}
                                {% if category.id %}
                                "#{{ category.color }}",
                                {% else %}
                                "#BBBBBB",
                                {% endif %}
                                {% endfor %}
                            ],
                            hoverBackgroundColor: [
                                {% for category in spend_time %}
                                {% if category.id %}
                                "#{{ category.color }}",
                                {% else %}
                                "#BBBBBB",
                                {% endif %}
                                {% endfor %}
                            ]
                        }]
                };

                var myChart = new Chart(ctx,{
                    type: 'pie',
                    data: data,
                    options: {
                        tooltips: {
                            callbacks: {
                                label: function(tooltipItem, data) {
                                    var cData = data.datasets[tooltipItem.datasetIndex].data;
                                    var _meta = data.datasets[tooltipItem.datasetIndex]._meta;
                                    var meta = _meta[Object.keys(_meta)[0]];
                                    var ttLbl = data.labels[tooltipItem.index];
                                    var ttData = cData[tooltipItem.index];
                                    var ttPct = Math.round((ttData / meta.total) * 10000) / 100;
                                    return ttLbl + ' : ' + Math.floor(ttData/60) + ' hours '+ ttData%60 + ' minutes (' + ttPct + '%)';
                                }
                            }
                        }
                    }
                });
            }
        });
    </script>

{% endblock %}