{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>Manage categories:</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    {% if categories %}
                        <table class="table table-hover table-category_list">
                            <thead>
                            <tr>
                                <th></th>
                                <th class="width60px"></th>
                                <th class="width80px"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td class="col-md-6 col-sm-6">
                                        <b>{{ category.title }}</b>
                                    </td>
                                    <td>
                                        <a href="#" id="" class="btn btn-success width60px openEditCategoryModal" data-id="{{ category.id }}" data-title="{{ category.title }}" data-color="{{ category.color }}">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('delete_category', { 'categoryId' : category.id }) }}" onClick="return confirm('Are you sure?');" class="btn btn-danger width80px">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="no-data-message">
                            <i>There are no categories! Please add some first.</i>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <a href="#" id="openAddCategoryModal" class="btn btn-primary width100p">Add new</a>

                    <div id='openweathermap-widget'></div>
                    <script type='text/javascript'>
                        window.myWidgetParam = {
                            id: 15,
                            cityid: 3078610,
                            appid: 'fe7aa0626659cc70bad3797f1ca01004',
                            containerid: 'openweathermap-widget',
                        };
                        (function() {
                            var script = document.createElement('script');
                            script.type = 'text/javascript';
                            script.async = true;
                            script.src = 'http://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js';
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(script, s);
                        })();
                    </script>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-9">
            {% include 'flashMessages.html.twig' %}

            {#{% for spend_by_category in spend_time %}#}
                {#{% if spend_by_category.id %}#}
                    {#<h3>{{ spend_by_category.title }}</h3>#}
                    {#<p>{{ (spend_by_category.time / 60)|round }} hours {{ spend_by_category.time % 60 }} minutes</p>#}
                {#{% else %}#}
                    {#<h3>Without category</h3>#}
                    {#<p>{{ (spend_by_category.time / 60)|round }} hours {{ spend_by_category.time % 60 }} minutes</p>#}
                {#{% endif %}#}
            {#{% endfor %}#}

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>Statistics:</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-12" style="vertical-align: middle">
                    {{ form_start(daterange_form, {'attr': {'id': 'daterange_form'}}) }}
                    <div class="form-group">
                        <a id="daterange_picker_button" class="btn btn-primary">Select dates</a>
                        {{ form_widget(daterange_form.daterange, { 'id': 'daterange_picker_input'} ) }}
                        {#{{ form_widget(daterange_form.daterange, { 'id': 'stat_datepicker'} ) }}#}
                    </div>
                    {{ form_end(daterange_form) }}
                </div>

                <div class="col-md-9 col-sm-12">
                    {% if spend_time %}
                        <canvas id="categoryChart" width="400" height="400"></canvas>
                    {% else %}
                        <div class="no-data-message">
                            <i>There are no events to calculate statistics! Please add some first or select different dates.</i>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

    {#Modal window - add event category#}
    {% include 'modal/modalCategoryDetail.html.twig' %}

    {#Script and data setting for pie graph#}
    <script>
        $(function() {
            if(document.getElementById("categoryChart")){
                var ctx = document.getElementById("categoryChart");

                var data = {
                    labels: [
                        {% for category in spend_time %}
                        {% if category.id %}
                            "{{ category.title }}",
                        {% else %}
                            "Without category",
                        {% endif %}
                        {% endfor %}
                    ],
                    datasets: [
                        {
                            data: [
                                {% for category in spend_time %}
                                "{{ category.time|round }}",
                                {% endfor %}
                            ],
                            backgroundColor: [
                                {% for category in spend_time %}
                                    {% if category.id %}
                                        "#{{ category.color }}",
                                    {% else %}
                                        "#BBBBBB",
                                    {% endif %}
                                {% endfor %}
                            ],
                            hoverBackgroundColor: [
                                {% for category in spend_time %}
                                    {% if category.id %}
                                        "#{{ category.color }}",
                                    {% else %}
                                        "#BBBBBB",
                                    {% endif %}
                                {% endfor %}
                            ]
                        }]
                };

                var myChart = new Chart(ctx,{
                    type: 'pie',
                    data: data,
                    options: {
                        tooltips: {
                            callbacks: {
                                label: function(tooltipItem, data) {
                                    var cData = data.datasets[tooltipItem.datasetIndex].data;
                                    var _meta = data.datasets[tooltipItem.datasetIndex]._meta;
                                    var meta = _meta[Object.keys(_meta)[0]];
                                    var ttLbl = data.labels[tooltipItem.index];
                                    var ttData = cData[tooltipItem.index];
                                    var ttPct = Math.round((ttData / meta.total) * 10000) / 100;
                                    return ttLbl + ' : ' + Math.floor(ttData/60) + ' hours '+ ttData%60 + ' minutes (' + ttPct + '%)';
                                }
                            }
                        }
                    }
                });
            }
        });

        $(function() {
            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#daterange_picker_input').val(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
            }

            $("#daterange_picker_button").daterangepicker({
                startDate: start,
                endDate: end,
                alwaysShowCalendars: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            $('#daterange_picker_button').on('apply.daterangepicker', function(ev, picker) {
                $('#daterange_form').submit();
            });
        });

    </script>

{% endblock %}