{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>Manage categories:</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <table class="table table-hover table-category_list">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="width60px"></th>
                                <th class="width80px"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td class="col-md-6 col-sm-6">
                                    <b>{{ category.title }}</b>
                                </td>
                                <td>
                                    <a href="#" id="" class="btn btn-success width60px openEditCategoryModal" data-id="{{ category.id }}" data-title="{{ category.title }}" data-color="{{ category.color }}">Edit</a>
                                </td>
                                <td>
                                    <a href="{{ path('delete_category', { 'categoryId' : category.id }) }}" onClick="return confirm('Are you sure?');" class="btn btn-danger width80px">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <a href="#" id="openAddCategoryModal" class="btn btn-primary width100p">Add new</a>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-9">
            {% include 'flash.messages.html.twig' %}

            {% for spend_by_category in spend_time %}
                {% if spend_by_category.categoryId %}
                    <h3>{{ spend_by_category.categoryTitle }}</h3>
                    <p>{{ (spend_by_category.time / 60)|round }} hours {{ spend_by_category.time % 60 }} minutes</p>
                {% else %}
                    <h3>Without category</h3>
                    <p>{{ (spend_by_category.time / 60)|round }} hours {{ spend_by_category.time % 60 }} minutes</p>
                {% endif %}
            {% endfor %}

        </div>

    </div>

    {#Modal window - add event category#}
    {% include 'modal/modalAddCategory.html.twig' %}

{% endblock %}