<div id="addCategoryContent" title="Category detail" style="display:none;">
    {{ form_start(category_form) }}
    {{ form_widget(category_form.id, {'attr': {'class': 'input-categoryId'}}) }}
    <div class="form-group">
        {{ form_label(category_form.title) }}
        {{ form_errors(category_form.title) }}
        {{ form_widget(category_form.title, {'attr': {'class': 'form-control input-categoryTitle'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(category_form.color) }}
        {{ form_errors(category_form.color) }}
        {{ form_widget(category_form.color, {'attr': {'class': 'form-control jscolor input-categoryColor'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(category_form.add) }}
    </div>
    {{ form_end(category_form) }}
</div>
