{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <h3 class="text-center major-title">Welcome to</h3>
                <h1 class="text-center">Life O'clock</h1>
                <h6 class="text-center minor-title">Your personal time manager</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <div class="login">
                    <h3 class="text-center margin0 marginb10">Registration</h3>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.username) }}
                        <div class="form-field-error">
                        {{ form_errors(form.username) }}
                        </div>
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        <div class="form-field-error">
                            {{ form_errors(form.email) }}
                        </div>
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.first) }}
                        <div class="form-field-error">
                            {{ form_errors(form.password.first) }}
                        </div>
                        {{ form_widget(form.password.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.second) }}
                        <div class="form-field-error">
                            {{ form_errors(form.password.second) }}
                        </div>
                        {{ form_widget(form.password.second) }}
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">Register</button>
                        <a class="btn btn-warning" href="{{ url("login") }}">Back to login</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}